/** pub **/
.publicdr{width: auto;background:#FFFFFF;padding: 12px 0px;border: 1px solid #cccccc;}
.publicdr .contnt{cursor:auto;padding: 0px 0px 8px 0px;border-bottom: 1px solid #CCCCCC;}
.publicdr .contnt .indc{}
.publicdr .contnt .result{display: block;width:86%;clear: both;float: left;margin: 11px 0px 0px 12%;}
.publicdr .contnt .img{margin: 0px 7px 0px 0px;} .publicdr .contnt .img img{width: 54px;height: 54px;margin: 6px 0px 0px 11px;border: 1px solid #CCCCCC;}
.publicdr .contnt .pub{width: 84%;margin: 5px 0px 0px 0px;} .publicdr .contnt .pub textarea{width: 99%;min-height: 58px;padding: 4px 4px;font-size: 12px;border: 1px solid #dcdcdc;-webkit-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.04);box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.04);resize: none;}
.publicdr .pub_btns{clear: both;margin-bottom: -11px;}
.publicdr .pub_btns a{padding: 6px 6px;}
.publicdr .pub_btns a i{background: url(../images/static/media/icons/true/tt/bwort.png);width: 18px;height: 18px;display: block;opacity: 0.5;}
.publicdr .pub_btns a i:hover{opacity: 1!important;}
.publicdr .pub_btns a i.active{opacity: 1!important;}
.publicdr .pub_btns .text{background-position: -40px -20px;}
.publicdr .pub_btns .video{background-position: -20px 0;}
.publicdr .pub_btns .link{background-position: -60px 0;}
#filesimg{overflow: hidden;position: relative;width: 74px;height: 74px;float: left;line-height: 35px;border: 2px dashed #ddd;margin: 0px 0px 5px 5px;background: url(../images/static/media/icons/true/plus1.png) no-repeat center #fff;color: #FFFFFF;box-sizing: border-box;zoom: 1;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-weight: 100;text-transform: uppercase;-o-transition: 0.2s background, 0.2s -o-transform;-ms-transition: 0.2s background, 0.2s -ms-transform;-moz-transition: 0.2s background, 0.2s -moz-transform;-webkit-transition: 0.2s background, 0.2s -webkit-transform;transition: 0.2s background, 0.2s transform;}
#filesimg.none{box-shadow: 0px 0px 4px #07f;}
#filesimg.activefile{border: 0;}
#filesimg.activefile #vistaPrevia{background: inherit!important;}
#filesimg #vistaPrevia{margin: 0;width: 100%;height: 100%;border: 1px solid #FFFFFF;display: none;background: url(../images/static/media/icons/loading/5.2.gif) no-repeat center;}
#filesimg:hover{border: 2px dashed #cccccc;}
#filesimg .input_file {margin: 0;padding: 0;outline: 0;font-size: 10000px;border: 10000px solid transparent;opacity: 0;filter: alpha(opacity=0);position: absolute;right: -1000px;top: -1000px;cursor: pointer;}
.publicdr .top_header{border-bottom: 0px solid #CCCCCC;}
.publicdr .top_header ul{border-bottom: 1px solid #e5e5e5;height: 26px;margin: 0 12px;padding: 4px 0 2px;}
.publicdr .top_header ul li{margin-left: 5px;position: relative;float: left;border-left: 1px solid #cccccc;}
.publicdr .top_header ul li:first-child{padding-left: 0;border-left-width: 0;}
.publicdr .top_header ul li a{margin-left: -9px;padding-left: 4px;line-height: 16px;padding: 5px 6px 3px 4px;position: relative;}
.publicdr .top_header ul li a span{padding-left: 12px;font-weight: bold;font-size: 11px;}