.icons-cdg{background: url(../../images/icons/ip-black.png) no-repeat;background-position: 0px 0px;width: 16px;height:16px;display: block;}
.icons-cdg.info{background-position: -17px -144px;}
.icons-cdg.alert{background-position: -1px -145px;}
.icons-cdg.check{background-position: -64px -144px;}
.icons-cdg.pointblack{background-position: -79px -145px;}
.icons-cdg.point{background-position: -96px -145px;}
.icons-cdg.pointwhith{background-position: -110px -145px;}
.icons-cdg.sticky{background-position: -127px -145px;}
.icons-cdg.sticky1{background-position: -143px -145px;}
.icons-cdg.i{background-position: -129px -129px;}
.icons-cdg.llave{background-position: -111px -129px;}
.icons-cdg.close{background-position: -80px -129px;}
.icons-cdg.line{background-position: -65px -129px;}
.icons-cdg.plus{background-position: -33px -129px;}
.icons-cdg.no{background-position: -1px -129px;}
.icons-cdg.home{background-position: -1px -115px;}
.icons-cdg.denuncia{background-position: -16px -115px;}
.icons-cdg.store{background-position: -49px -115px;}
.icons-cdg.edit{background-position: -66px -115px;}
.icons-cdg.time{background-position: -82px -113px;}
.icosn-cdg.guardar{background-position: -95px -113px;}
.icons-cdg.search{background-position: -161px -113px;}
.icons-cdg.options{background-position: -177px -113px;}
.icons-cdg.love{background-position: -210px -113px;}
.icons-cdg.star{background-position: -224px -113px;}
.icons-cdg.guardada{background-position: -240px -96px;}
.icons-cdg.candado-open{background-position: -207px -96px;}
.icons-cdg.candado{background-position: -191px -96px;}
.icons-cdg.delete{background-position: -178px -96px;}
.icons-cdg.imprimir{background-position: -160px -96px;}
.icons-cdg.user{background-position: -145px -96px;}
.icons-cdg.comment{background-position: -128px -96px;}
.icons-cdg.mensaje-open{background-position: -98px -96px;}
.icons-cdg.mensaje{background-position: -81px -96px;}
.icons-cdg.carpeta-open{background-position: -15px -96px;}
.icons-cdg.carpeta{background-position: 0px -96px;}
.icons-cdg.regresar{background-position: -2px -66px;}
.icons-cdg.code{background-position: -146px 1px;}
.icons-cdg.left{background-position: -143px -192px;}
.icons-cdg.bottom{background-position: -127px -192px;}
.icons-cdg.right{background-position: -113px -192px;}
.icons-cdg.top{background-position: -97px -192px;}