.hrdCnfposnDlCARN{}
.hrdCnfposnDlCARN .rspos_headr{float:center;text-align: -webkit-center;}
.hrdCnfposnDlCARN .rspos_headr .h1_Hdr_Onchange{height: 42px;line-height: 34px;} .hrdCnfposnDlCARN .rspos_headr .h1_Hdr_Onchange h2{color: #FFFFFF;text-shadow: 0px 1px 0px #000000;}
.hrdCnfposnDlCARN .rspos_headr .rspn_Hdr_OnChoge{height: 42px;line-height: 3;}
.hrdCnfposnDlCARN .rspos_headr .rspn_Hdr_OnChoge .lLii{margin: 0px 0px 0px 7px;}