#ubc_frs{}
#ubc_frs #list_ubc{}
#ubc_frs #list_ubc li{display: inline-block;list-style: none;margin: 1.5em .5em 0;min-width: 0;max-width: 33%;vertical-align: top;width: 139px;border: 1px solid #E2E2E2;padding: 10px 1px;border-radius: 6px;}
#ubc_frs #list_ubc li a{-webkit-transition: box-shadow 218ms;-moz-transition: box-shadow 218ms;-o-transition: box-shadow 218ms;transition: box-shadow 218ms;display: block;padding: 1em;text-align: center;}
#ubc_frs #list_ubc li a img{height: auto;max-width: 100%;}
#ubc_frs #list_ubc li a h3{margin-top: 1em;font-size: 14px;font-weight: normal;line-height: 22px;margin: 0;}